@font-face {
  font-family: "space";
  src: url(/home/belazar/Bureau/CV/Curriculum-vitae/typos/space.woff) format("woff");
}
@font-face {
  font-family: "Rounded_Elegance";
  src: url(typos/Rounded_Elegance.ttf);
}
body, h1{
  /* Valeurs pour effet plein écran sur les éléments :
    0 ; pour marges et padding,
    100 %; hauteur et largeur */
  height: 100%;
  width: 100%;
  background-color: #FFF4D6;
  margin: 0;
  padding: 0;
}
/* si la taille d’écran minimale est supérieure à 768px le @media screen (media query)
changera l’ordre d’affichage des éléments avec la propriété flexbox "order"
(ici appliquee à img (coder l’élément et non la classe) valeur : -1 ; ne pas oublier le and avant la taille min ou max)
idee de base avoir la photo/img à droite */
@media screen and (min-width: 768px)
{
  .conteneur {
    display: flex;
    flex-direction: row;
  }
  img {
    order:-1;
  }
}
/* Pour l’affichage mobile, plus logique que h1 s’affiche en premier,
si la taille d’écran est inférieure à 768px le @media screen (media query)
laisse l’ordre des éléments par défaut d’affichage, le display en colonnes.

Sources web plus précises pour ces recherches :

https://flexbox.ninja/demos/website-header/
https://www.booglit.com/flexbox-media-queries/
https://www.alsacreations.com/article/lire/930-css3-media-queries.html
https://forum.alsacreations.com/topic-4-81336-1-Modifier-lordre-des-elements-en-responsive.html

ci-dessous comment faire du responsive design ? VIDEO SUPER
https://www.youtube.com/watch?v=mjRHg-rs1Ps&t=215s

*/
@media screen and (max-width: 765px)
{
  .conteneur{
    display: flex;
    flex-direction: column;
  }
  div {order: -1;}
  /* https://developer.mozilla.org/fr/docs/Web/CSS/:nth-child
   .conteneur:nth-child(3n){
    order: -1;
  }
 .fa-bars{
    display: flex;
    order: -1;
  }
  .menu{
    display: flex;
    order: -1;
  }*/
}/* Sur mobile menu hamburger en haut à doite */
  body {
    /* margin: 2vh; */
  }
}
.conteneur{
  display: flex;
  flex-wrap: wrap;
}
.titre {
  display: flex;
  flex: 3;
  font-family: space;
  font-size: 5vw; /* vw : viewport width taille typo s'adapte la taille d’écran*/
  background-color: pink;
  height: 100vh;
}
/* utilisation de vh pour adapter element la vue totale ecran
peut s'appliquer a bcp de propriétés css

https://www.alsacreations.com/astuce/lire/51-hauteur-100-element.html*/
.titre:nth-child(1){
  justify-content: center;
  align-self: center;
  padding: 5vw, 5vw, 5vw, 5vw;
}
.photo {
  flex: 2;
  background-color: #FF9015;
  height: 100vh;
}
.fa-bars {
  color: red;
  font-size: 2vw;
  padding: 1vw;
}
.div{
  display: flex;
  justify-content: flex-end;
}
.contenus{
  font-family: Rounded_Elegance;
  color: #6310CA;
}
